@import '../../../styles/utilities.scss';

.header{
    display: flex;
    width: 100%;
    height: 90px;
}
.header-logo{
    padding: 20px;
    padding-top: 35px;
    padding-left: 60px;
    width: 150px;
    height: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .header-li {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    padding-top: 35px;
    padding-left: 60px;
    text-decoration: none;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
    a{
        font-size: larger;
    }
}

.login{
    float:right;
    margin-left: 600px;
    margin-top: 20px;
    .custom-button{
        background-color: $base-color;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.login-signup-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w-100percent {
    width: 100%;
}

.login-signup-container button {
    display: inline-block;
    border-width: 1px;
    border-radius: 5px;
    border-color: #19469D;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 20px;
    height: 40px;
    width: 35%;
    color: #19469D;
}

.login-signup-container button:hover {
    font-weight: 400;
    color: #ffffff;
    background-color: #19469D;
}

.modal-text1 {
    font-family: Roboto, sans-serif;
    font-size: 21.5px;
    color: #555863;
}

.modal-text2 {
    font-family: Roboto, sans-serif;
    font-size: 16.5px;
    color: #555863;
}

.modal-link {
    color: rgb(17, 17, 90);
    text-decoration: underline;
}

