@import '../../styles/utilities.scss';
.search-box{
    margin-top: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 20px;
    .search-title{
        padding-bottom: 15px;
        font-size: large;
    }
    
}
.search-box-container{
    // border-radius: 15px;
    appearance: none;
    outline: 0;
    background-color: white;
    width: max-content;
    height: max-content;
    color: black;
    cursor: pointer;
    .search-params{
        display: flex;
        background: $base-color;
        width: max-content; 
    }
    .buttons{
        margin-left: 20px;
        margin-bottom: 10px;
        Button{
            margin-right: 20px;
            margin-bottom: 30px;
            width: 120px;
            padding: 20px;
        }
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

}
select {
    appearance: none;
    outline: 0;
    background-image: none;
    width: 75%;
    height: 40%;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}
 
.select {

    width: 15px;
    height: 2px;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}

.price-selection-box{
    display: flex;
}