.login-signup-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.w-100percent {
    width: 100%;
}

.login-signup-container button {
    display: inline-block;
    border-width: 1px;
    border-radius: 5px;
    border-color: #19469D;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 20px;
    height: 40px;
    width: 35%;
    color: #19469D;
}

.login-signup-container button:hover {
    font-weight: 400;
    color: #ffffff;
    background-color: #19469D;
}

.login-signup-container input {
    margin-bottom: 0px;
}

.modal-text1 {
    font-family: Roboto, sans-serif;
    font-size: 21.5px;
    color: #555863;
}

.modal-text2 {
    font-family: Roboto, sans-serif;
    font-size: 16.5px;
    color: #555863;
}

.modal-error-text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: rgb(196, 51, 51);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
}

.modal-link {
    color: rgb(17, 17, 90);
    text-decoration: underline;
}

button[name="createAccount"] {
    margin-top: 5px;
}

