.buy-container{
    height: 400px;
    width: 100%;
    background-image: url("../../assets/images/buy-a-property.jpeg") ;
    .searchbox{
        padding-top: 70px;
        margin-left: 120px;
        opacity: 0.85;
    }
    
}
.properties{
    display: flex;
}
