.our-listings{
    margin-left: 30px;
}
.housing-lists{
    margin: 20px 0px 20px 80px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: 4;
    gap: 40px;
    grid-column-gap: 50px;
    grid-auto-flow: row;
    width: 100%;
}