.filter{
    width:200px;
    margin-top: 70px;
}
.buttons{
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    Button{
        margin-right: 10px;
        margin-bottom: 30px;
        width: 100px;
        padding: 20px;
    }
}
.filter-text{
    margin-left: 20px;
}